
*.map
*.json
Java/.project

Java/binFiles/
Java/testBinFiles/
Java/docsFiles/
Java/jarFile/BioLife.jar
Java/.settings/org.eclipse.core.resources.prefs

Java/history/
Java/docsFiles/
Java/binFiles/
Java/build/
Java/nbproject/
Java/build.xml
Java/.settings/org.sonarlint.eclipse.core.prefs
Java/.settings/org.eclipse.ltk.core.refactoring.prefs
bin1/
*.zbmap
