
*.map
*.json
.project

binFiles/
dist/
testBinFiles/
docsFiles/
jarFile/BioLife.jar
.settings/org.eclipse.core.resources.prefs

history/
docsFiles/
binFiles/
build/
nbproject/
build.xml
.settings/org.sonarlint.eclipse.core.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
bin1/
*.zbmap
*.zbcells
*.zbcell
.settings/org.eclipse.jdt.core.prefs
